.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #666;
  padding: 1rem;
  margin-bottom: 2rem;
  min-width: 300px;
  min-height: 30px;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  width: 100px;
  padding: 0.5rem;
}

.counter button {
  font-size: 1.8rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  background: none;
  border: none;
  background-color: #666;
  color: #fff;
  font-size: 1.8rem;
  padding: 0.5rem;
  cursor: pointer;
}
